@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgImageIntro {
    background-image: url("../public/csgo_4-wallpaper-2560x1440.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -100;
    filter: blur(0px);
    height: 100%;
    width: 100%;
}

.overflowBlock {
    overflow: hidden;
}

.bgImage {
    background-image: url("../public/csgo_4-wallpaper-2560x1440.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    scale: 1.1;
    filter: brightness(0.5) blur(5px);
    z-index: -100;
    height: 100%;
    width: 100%;
}

.homeWrapper {
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.801);
    width: 100%;
    height: 5vh;
}

.logo {
    font-size: 18px;
    color:black;
    font-style: italic;
    font-weight: bolder;
    margin-left: 4%;
}

.contentWrapper {
    width: 80%;
    height:auto;
    margin-left:10%;
    display:flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 10vh;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.705);
}

.descWrapper{
    width: 40%;
    height: auto;
    align-self: center;
}

.description {
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 600;
}

.introimage {
    width: 50%;
}

.mainConnectWrapper {
    display: flex;  
    justify-content: center;    
    flex-direction: column;
}


.modalWindow {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40vh;
    position: absolute;
    padding: 2vh 0;
    border-radius: 10%;
    z-index: 1;
    left: 35%;
    top: 30%;
    background-color: rgba(255, 247, 240, 0.514);
    border: 2px solid gray;
}

.inputForm {
    border: 0;
    border-bottom: 2px rgb(187, 187, 187) solid;
    background-color: transparent;
    height: 4vh;
    font-family: 'Montserrat', sans-serif;
}

.inputForm:focus {
    border: 0;
    border-bottom: 2px gray solid;
    outline: none;
    transition: 0.2s;
}

.inputForm:hover {
    font-weight: 600;
}

.modalWindowForm {
    width:30%;
    margin-left: 35%;  
    margin-bottom: 6vh; 
}

.buttons {
    display: flex;
    width: 50%;
    margin-left: 25%;
    justify-content: space-between;
    
}

.customButton {
    border: 1px rgba(128, 128, 128, 0.301) solid;
    background-color: rgb(255, 174, 0);
    text-decoration: none;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10%;
    transition: 0.4s;
}

.customButton:hover {
    scale: 0.95;
    mix-blend-mode: hard-light;
}

.acceptButton {
    background-color: rgb(115, 199, 115);
}

.cancelButton {
    background-color: rgb(150, 150, 150);
}

.closeButton {
    align-self: flex-end;
    height:auto;
    width: auto;
    border:0;
    margin-right: 10%;
    background-color: rgba(128, 128, 128, 0.521);
    border: 1px solid rgba(0, 0, 0, 0.233);
    padding: 5px 7px;
    border-radius: 20%;
}

.closeButton:hover {
    text-shadow: 0px 10px 10px black;
    box-shadow: none;
    font-weight: 600;
}

.claimDisabledButton {
    color: red;
}

.claimDisabledButton:hover {
    scale: 1;
    mix-blend-mode: normal;
}

.connect {
    font-size: 25px;
    font-weight: 500;
}

.buttonWrapper {
    padding: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.connectMain {
    display: flex;
    width:100%;
    flex-direction: column;
}

.playerInfo {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.705);
    width: 30%;
    height: 40vh;
    margin-left: 10%;
    margin-top: 5vh;
}

.playerIcon {
    width: 30%;
    height: 30%;
    margin-top: 10%;
    margin-left: 10%;
}

.playerDataBlock {
    background-color: gray;
    margin-top: 10%;
    margin-right: 5%;
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
}

.playerData {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 5%;
}

.signInButton {
    font-size: 25px;
    font-weight: 500;
}

.signOutButton {
    font-size: 25px;
    font-weight: 500;
}